.primary-color {
    color: #0a9396;
}


.btn {

    cursor: pointer;
    background: #0a9396;
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
}

.btn:hover {
    background: #005f73;
}

.bg-dark {

    background: #001219;
    color: #fff;
}

.bg-primary {

    background: #94d2bd;
}